.App {
  width: 256px;
  margin: auto;
  text-align: center;
}

.Grid {
  display: grid;
  grid-gap: 0;
  grid-template-rows: repeat(8, 32px);
  grid-template-columns: repeat(8, 32px);
}

.Tile {
  margin: -1px -1px 0px 0px;
  padding: 0;
  border: 1px solid black;
  text-align: center;
  background-color: #eeeeee;
}